.button {
    border-radius: 4px;
    background-color: var(--color-bg-secondary);
    color: var(--color-font-primary);
    padding: 0 20px;
    height: 40px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

@media (max-width: 576px) {
  .button {
    height: 30px;
    font-size: 12px;
    }
}
