@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,600;1,600&display=swap');

:root {
  --color-bg-primary: #fff;
  --color-bg-secondary: #1890ff;
  --color-bg-tertiary: #e6f7ff;
  --color-bg-quaternary: #f5f5f5;

  --color-font-primary: #fff;
  --color-font-secondary: #000;
  --color-font-tertiary: #7e7e7e;
  --color-font-quaternary: #bfbfbf;
  --color-font-quinary: #737373;
  --color-font-senary: #5c5858;
  --color-font-septenary: #1890ff;

  --color-border-primary: #d9d9d9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  background-color: var(--color-bg-primary);
}

.dflex {
  display: flex;
}

.container-home {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.container-search {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

.mt30 {
  margin-top: 30px;
}

.mt50 {
  margin-top: 50px;
}

.pd20 {
    padding: 0 20px;
}

.title-style {
  margin-bottom: 30px;
}

.title-style h2 {
  font-size: 48px;
  color: var(--color-font-secondary);
}

.title-style h3 {
  font-size: 24px;
  color: var(--color-font-tertiary);
}

.error-message {
  margin-top: 60px;
  font-size: 38px;
  font-weight: 500;
  color: var(--color-font-secondary);
}

@media (max-width: 576px) {
  .title-style h2 {
  font-size: 24px;
  }
  .title-style h3 {
  font-size: 16px;
  }
  .error-message {
  font-size: 22px;
  }
}
