.card-search {
    border-radius: 16px;
    background-color: var(--color-bg-tertiary);
    padding: 30px;
    height: 250px;
}

.card-search h2 {
    color: var(--color-font-secondary);
    font-size: 38px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 12px;
}

.search-box-style {
    width: 298px;
    height: 40px;
    font-size: 16px;
    padding: 0 20px;
    color: var(--color-font-quaternary);
    border-radius: 4px;
    border: 1px solid var(--color-border-primary);
    margin-bottom: 24px;
}

.search-box-style:focus {
    outline: none;
}

